bokeh==0.12.10
certifi==2017.11.5
chardet==3.0.4
confusable-homoglyphs==2.0.2
Django==1.11
django-multiselectfield==0.1.8
django-registration==2.3
hupper==1.0
idna==2.6
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
numpy==1.13.3
PasteDeploy==1.5.2
plaster==1.0
plaster-pastedeploy==0.4.2
psycopg2==2.7.3.2
py==1.5.2
Pygments==2.2.0
pyramid==1.9.1
pyramid-debugtoolbar==4.3
pyramid-jinja2==2.7
pyramid-mako==1.0.2
pyramid-retry==0.5
pyramid-tm==2.2
pytest==3.2.5
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
repoze.lru==0.7
requests==2.18.4
six==1.11.0
-e git+https://github.com/dave5801/space-rocks.git@ab440293d15d5008522f02752b212d73939ea5cb#egg=space_rocks
SQLAlchemy==1.1.15
tornado==4.5.2
transaction==2.1.2
translationstring==1.3
urllib3==1.22
venusian==1.1.0
waitress==1.1.0
WebOb==1.7.4
zope.deprecation==4.3.0
zope.interface==4.4.3
zope.sqlalchemy==0.7.7
