body {
    background-color: #434c50;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 40px 0;
    font-family: georgia,serif;
}

nav {
    background-color: #96c7ea;
}

.navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bolder;
}

.profile-row-1 {
    height: 33vw;
}

.card-header {
    background-color: #96c7ea;
}

.card-footer {
    background-color: #96c7ea;
}

.scrolling {
    overflow-y: scroll;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}

.gallery-container h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}


.tz-gallery .hero-image {
    height: 40vw;
    overflow-y: hidden;
    text-align: center;
}
.tz-gallery .photo-detail {
    text-align: center;
}
.tz-gallery .photo-detail img {
    max-height: 40vw;
    width:auto;
    max-width:100%;
}
.tz-gallery .album-detail {
    text-align: center;
}
.tz-gallery .album-detail img {
    max-height: 25vw;
    width:auto;
    max-width:100%;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

.photo-buttons {
    bottom: 1rem;
    right: 1rem;
}


.edit-button {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #96c7ea;
}

.edit-button:hover {
    background-color: #96c7ea;
}


.tz-gallery-grid {
    padding: 40px;
}

.tz-gallery-grid .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery-grid .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery-grid img {
    border-radius: 4px 4px 0 0;
    max-width:100%;
}

.tz-gallery-grid .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery-grid .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery-grid .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

#galleria {
    width: 100%;
    height: 40vw;
}

.gal-user{
    color: black;
}

.galleria-theme-classic {
    background: #fff;
}

.galleria-thumbnails-list {
    background: #96c7ea;
    padding: 5px;
}

.galleria-theme-classic .galleria-info-link {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 1px solid #96c7ea;
}

.galleria-theme-classic .galleria-thumb-nav-left, .galleria-theme-classic .galleria-thumb-nav-right, .galleria-theme-classic .galleria-info-link, .galleria-theme-classic .galleria-info-close, .galleria-theme-classic .galleria-image-nav-left, .galleria-theme-classic .galleria-image-nav-right {
    background-image: url(classic-map.png);
}

.galleria-theme-classic .galleria-info-text {
    background-color: rgba(255, 255, 255, 0.8);
}

.galleria-theme-classic .galleria-info-title {
    font-family: 'Cinzel Decorative', cursive;
    color: #000;
}

.galleria-theme-classic .galleria-info-description {
    color: #7b7d7d;
}


.input-group input, .input-group select, .input-group textarea {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.login-button {
    background-color: #96c7ea;
    border-color: transparent;
    color: #000;
}

#id_image {
    border-radius: 0 .25rem .25rem;
}

.edit-photo #id_image {
    margin-left: 20%;
}

.register-form {
    display: block;
}

.register-form ul {
    list-style: none;
}

form p {
    display: block;
}

.register-form input, .register-form select, .register-form textarea {
    width: 80%;
    display: inline-block;
}

.register-form textarea {
    height: 5rem;
    min-height: 2.4rem;
}

.helptext {
    display: none;
}

.register-form select {
    height: 2.4rem;
}

.register-form select[multiple] {
    height: auto;
}

.register-form label {
    width: 20%;
    display: inline-block;
    float: left;
    border-radius: .25rem 0 0 .25rem;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: right;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-right: 0;
    white-space: nowrap;
}

.register-form ul {
    padding-left: 0;
}

.register-form ul li {
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    margin-left: 20%;
}

.register-form ul li:first-child {
    border-top: 1px solid #ced4da;
    border-radius: 0 .25rem 0 0;
}

.register-form ul li:last-child {
    border-bottom: 1px solid #ced4da;
    border-radius: 0 0 .25rem 0;
}

.register-form ul label{
    float: none;
    display: block;
    background-color: transparent;
    border: none;
    width: 3rem;
}


