{% extends 'imagersite/base.html' %}
{% load thumbnail %}


{% block content %}
<h1>Library</h1>

<div class="tz-gallery-grid">
<h2 class="row">
    <span class="col-4">Albums</span>
    <a href="{% url 'album_create' %}" class="btn btn-primary btn-lg btn-block login-button col-4" role="button">
        Add New Album
    </a>
</h2>

    <div class="row">
    {% for album in albums %}
        <div class="col-sm-6 col-md-3">
                <a href="{% url 'album_detail' id=album.id %}">
            <div class="thumbnail">
                    {% if album.cover %}
                    {% thumbnail album.cover.image "250x250" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ album.title }}">
                    {% endthumbnail %}
                    {% else %}
                        <img src="{{ default_cover }}" alt="{{ album.title }}">
                    {% endif %}
                <div class="caption">
                    <h3 class="text-dark">{{album.title}}</h3>
                </div>
            </div>
                </a>
        </div>
    {% endfor %}
    </div>

</div>

<div class="tz-gallery">
<h2 class="row">
    <span class="col-4">Photos</span>
    <a href="{% url 'photo_create' %}" class="btn btn-primary btn-lg btn-block login-button col-4" role="button">
        Add New Photo
    </a>
</h2>
<div class="row">
    {% for photo in photos %}

            <div class="col-sm-6 col-md-3">
                <a class="lightbox fa fa-search" href="{{ photo.image.url }}">
                    {% thumbnail photo.image "250x250" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{photo.title}}">
                    {% endthumbnail %}
                </a>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}