{% extends 'imagersite/base.html' %}


{% block content %}
<h1>Imager</h1>

<p class="page-description text-center">Post some pictures</p>

<div class="tz-gallery">
    <div class="col-12 hero-image">
        <a class="lightbox" href="{{ hero_img_url }}">
            <img src="{{ hero_img_url }}" alt="{{ hero_img_title }}">
        </a>
    </div>

    <!-- <div class="row">

        <div class="col-sm-12 col-md-4">
            <a class="lightbox" href="../images/bridge.jpg">
                <img src="../images/bridge.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox fa fa-search" href="../images/park.jpg">
                <img src="../images/park.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox fa fa-search" href="../images/tunnel.jpg">
                <img src="../images/tunnel.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-12 col-md-8">
            <a class="lightbox fa fa-search" href="../images/traffic.jpg">
                <img src="../images/traffic.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox fa fa-search" href="../images/coast.jpg">
                <img src="../images/coast.jpg" alt="">
            </a>
        </div> 
        <div class="col-sm-6 col-md-4">
            <a class="lightbox fa fa-search" href="../images/rails.jpg">
                <img src="../images/rails.jpg" alt="">
            </a>
        </div>

    </div> -->

</div>
{% endblock %}